{% extends "base.html" %}

{% block title %}Восстановление пароля - Kittygram{% endblock %}

{% block content %}
  <div class="card col-4 mx-auto mt-5">
    <div class="card-header text-center">
      Восстановление пароля
    </div>
    <div class="card-body">
      <form method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        <div class="text-center mt-3">
          {% bootstrap_button button_type="submit" content="Поменять пароль" class="btn-lg" %}
        </div>
      </form>
    </div>
  </div>
{% endblock %}
