<a href="{% url 'tasks' %}"> Назад </a>

<table>
    <tr><th>Пользователь</th><td>{{ task_detail.user.username }}</td></tr>
    <tr><th>Название</th><td>{{ task_detail.title }}</td></tr>
    <tr><th>Описание</th><td>{{ task_detail.description }}</td></tr>
    <tr>
        <th>Статус</th>
        <td>
            {% if task_detail.complete_status %}
                Завершено
            {% else %}
                Не завершено
            {% endif %}
        </td>
    </tr>
    <tr><th>Дата создания</th><td>{{ task_detail.create|date:"Y-m-d H:i" }}</td></tr>
</table>
